<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  <!--<add name="prosnap.Properties.Settings.ImageSecurityConnectionString"   connectionString="Data Source=KARTHIK-PC\SQLEXPRESS;Initial Catalog=ImageSecurity;User ID=sa;Password=karthik" />-->
    <add name="prosnap.Properties.Settings.ImageSecurityConnectionString"   connectionString="Data Source=DESKTOP-7T4B7A4\SQLEXPRESS;Initial Catalog=ImageSecurity;Persist Security Info=True;User ID=sa;Password=kavyaSV9.0" />
  </connectionStrings>
	 <appSettings>
		<add key="Name" value="kiran"/>
		<add key="fileslist" value="E:\prosnap\image\"/>
		<add key="Converted" value="E:\prosnap\image\Converted\"/>
		<add key="filesreceived" value="E:\prosnap\image\received\"/>
		<add key="ReceivedFile" value="E:\prosnap\image\ReceivedFile\"/>
		<add key="zipfiles" value="E:\prosnap\image\SentFiles\"/>
		<add key="icon" value="E:\prosnap\image\icon\"/>
		<add key="karthik" value="192.168.0.32"/> 
		<add key="kiran" value="192.168.0.42"/>
		<add key="naveen" value="192.168.10.3"/>
		<add key="naveenkey" value="4,3,2,1"/>
		<add key="kirankey" value="2,5,4,6"/>
		<add key="karthikkey" value="3,2,1,4"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint name="ChatEndPoint" address="net.p2p://chatMesh/ChatServer" binding="netPeerTcpBinding" bindingConfiguration="PeerTcpConfig" contract="prosnap.IChatService">
			</endpoint>
			<!--<endpoint name="CustomPeerResolver" address="net.tcp://10.34.34.241/ChatServer"
                binding="netTcpBinding" bindingConfiguration="TcpConfig"
                contract="ChatClient.ICustomPeerResolver"></endpoint>-->
		</client>
		<bindings>
			<netPeerTcpBinding>
				<binding name="PeerTcpConfig" port="0">
					<security mode="None">
					</security>
					<resolver mode="Custom">
						<custom address="net.tcp://192.168.0.42/ChatServer" binding="netTcpBinding" bindingConfiguration="TcpConfig">
						</custom>
					</resolver>
				</binding>
				<!--<binding name="BindingDefault" port="0">
          <security mode="None"></security>
          <resolver mode="Auto"></resolver>
        </binding>-->
			</netPeerTcpBinding>
			<netTcpBinding>
				<binding name="TcpConfig">
					<security mode="None">
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
			</providers>
		</roleManager>
	</system.web>
	<startup/></configuration>
